<div mat-dialog-title>
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="dialog-title"> إضافة الخدمة</h3>
      <button mat-button  mat-dialog-close><span class="material-icons"> clear </span></button>
    </div>
  </div>
  <div mat-dialog-content>
    <form (ngSubmit)="doSubmit()" [formGroup]="servicetypeForm" class="w-100">
      <div class="form-row">
        <div class="form-group col-md-6">
          <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label> اسم الخدمة (عربي)</mat-label>
            <input placeholder="ادخل اسم الخدمة (عربي)" matInput name="nameAr"
              formControlName="nameAr" />  
              <mat-error *ngIf="fc.nameAr.errors?.required" class="mat-error">هذا الحقل مطلوب</mat-error> 
              <mat-error *ngIf="fc.nameAr.errors?.pattern" class="mat-error">ادخل الحقل بحروف عربي</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label> اسم الخدمة (إنجليزي)</mat-label>
            <input placeholder="ادخل اسم الخدمة (إنجليزي)" matInput name="nameEn"
              formControlName="nameEn" />  
              <mat-error *ngIf="fc.nameEn.errors?.required" class="mat-error">هذا الحقل مطلوب</mat-error>
              <mat-error *ngIf="fc.nameEn.errors?.pattern" class="mat-error">ادخل الحقل بحروف إنجليزي</mat-error>  
          </mat-form-field>
        </div>
      </div>
      <hr/>

      <div class="form-row">
        <div class="form-group col-md-6">
          <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label> اسم الوصف (عربي)</mat-label>
            <input placeholder="ادخل اسم الوصف (عربي)" matInput name="descriptionAr"
              formControlName="descriptionAr" />  
                </mat-form-field>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label> اسم الوصف (إنجليزي)</mat-label>
            <input placeholder="ادخل اسم الوصف (إنجليزي)" matInput name="descriptionEn"
              formControlName="descriptionEn" />  
             </mat-form-field>
        </div>
      </div>
      <hr/>
        <div class="text-center form-actions">
          <button mat-raised-button color="primary">إضافة</button>
          <button mat-raised-button mat-dialog-close>إلغاء</button>
        </div>
    </form>
  </div>
  <!-- <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div> -->